*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  font-family: 'Roboto', Verdana, sans-serif;
  font-style: normal;
}
button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;

}

.wrapper {
  padding: 75px 0 75px;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: 1024px) {
  width: 984px;    
  }
  /*@media (max-width: 796px) {
    .card {
      width: 280px;
    }
  }*/
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}
.link{
  text-decoration: none;
}
